.card-container {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  border: 1px solid skyblue;
  border-radius: 5px;
  cursor: pointer;
  background-color: lightcyan;


  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: .5s;
  -webkit-transition: .5s;

  img {
    height: 90%;
    object-fit: contain;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
}